
@page "/materialess"
@using construccion.Shared.Entities
@using Construccion.WEB.Repositories
@using Construccion.WEB.Shared
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository
<h1>Materiales</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/materialess/create">Nuevo Material</a>
</div>


<GenericList MyList="Materialess">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Materiales</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Materialess!)
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Cantidad
                        </td>
                        <td>
                            @item.Proveedor
                        </td>
                        <td>
                            @item.FechaE
                        </td>
                        <td>
                            @item.ProjectConstrId
                        </td>
                        <td>
                            <a href="/Materialess/editar/@item.id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                            <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </Body>

</GenericList>

@code {
    public List<Materiales> Materialess { get; set; }


    protected async override Task OnInitializedAsync()
    {


        await LoadAsync();



    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Materiales>>("/api/Materialess");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Materialess = responseHttp.Response;
    }
    private async Task DeleteAsycn(Materiales materiales)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el equipo de construccion: {materiales.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)

        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Materiales>($"/api/Materialess/{materiales.id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Materialess");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }


}

