@page "/Machinerys"
@using construccion.Shared.Entities
@using Construccion.WEB.Repositories
@using Construccion.WEB.Shared
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository
<h1>MAQUINARIA</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/Machinery/create">ASIGNAR MAQUINARIA</a>
</div>


<GenericList MyList="Machineries">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MAQUINARIA</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Machineries!)
                {
                    <tr>
                        <td>
                        <th>ID</th>
                            @item.id
                        </td>
                        <td>
                        <th>NOMBRE</th>
                            @item.name
                        </td>
                        <td>
                        <th>PROOVEDOR</th>
                            @item.Proveed
                        </td>
                        <td>
                        <th>CANTIDAD REQUERIDA</th>
                            @item.CantReque
                        </td>
                        <td>
                        <th>FECHA ENTREGA</th>
                            @item.FechaEntrga
                        </td>
                                             
                        
                        <td>
                            <a href="/Machinerys/editar/@item.id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                            <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </Body>

</GenericList>

@code {
    public List<machinery> Machineries { get; set; }


    protected async override Task OnInitializedAsync()
    {


        await LoadAsync();



    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<machinery>>("/api/Machinerys");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Machineries = responseHttp.Response;
    }
    private async Task DeleteAsycn(machinery machinery)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el equipo de construccion: {machinery.name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)

        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Materiales>($"/api/Machinerys/{machinery.id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Machinerys");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }


}

