@using construccion.Shared.Entities
@using Construccion.WEB.Shared
@using Construccion.WEB.Repositories
@inject SweetAlertService sweetAlertService
@inject IRepository repository

<EditForm Model="tareass" OnSubmit="OnSubmit">

    <DataAnnotationsValidator />




    <div class="mb-3">
        <label>NOMBRE:  </label>
        <div>
            <InputText width="10" @bind-Value="tareass.Name" />
            <ValidationMessage For="@(()=>tareass.Name)" />
        </div>

    </div>


    <div class="mb-3">
        <label>DESCRIPCION:  </label>
        <div>
            <InputText width="10" @bind-Value="tareass.Description" />
            <ValidationMessage For="@(()=>tareass.Description)" />
        </div>

    </div>


    <label>FECHA INICIO:  </label>
    <div>
        <InputDate width="10" @bind-Value="tareass.FechaStart" />
        <ValidationMessage For="@(()=>tareass.FechaStart)" />
    </div>
    <div>
    </div>

    <div class="mb-3">
        <label>FECHA FIN:  </label>
        <div>
            <InputDate width="10" @bind-Value="tareass.FechaEnd" />
            <ValidationMessage For="@(()=>tareass.FechaEnd)" />
        </div>
    </div>

    <div class="mb-3">
        <label>FECHA FIN:  </label>
        <div>
            <InputDate width="10" @bind-Value="tareass.FechaEnd" />
            <ValidationMessage For="@(()=>tareass.FechaEnd)" />
        </div>
    </div>

    <div class="mb-3">
        <label>ID PROYECTO ASIGNADO:  </label>
        <div>
            <InputNumber width="10" @bind-Value="tareass.ProjectConstrs" />
            <ValidationMessage For="@(()=>tareass.ProjectConstrs)" />
        </div>
    </div>



    <button class="btn btn-primary" type="submit">Guardar</button>

    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    protected override void OnInitialized()
    {
        editContext = new EditContext(tareass);
    }

    [Parameter]
    public Tarea tareass { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
